@import 'tailwindcss';

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-750: #025f87;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
  --color-primary-950: #082f4e;
  --color-income-50: #ecfdf5;
  --color-income-100: #d1fae5;
  --color-income-200: #a7f3d0;
  --color-income-300: #6ee7b7;
  --color-income-400: #34d399;
  --color-income-500: #10b981;
  --color-income-600: #059669;
  --color-income-700: #047857;
  --color-income-800: #065f46;
  --color-income-900: #064e3b;
  --color-expense-50: #fef2f2;
  --color-expense-100: #fee2e2;
  --color-expense-200: #fecaca;
  --color-expense-300: #fca5a5;
  --color-expense-400: #f87171;
  --color-expense-500: #ef4444;
  --color-expense-600: #dc2626;
  --color-expense-700: #b91c1c;
  --color-expense-800: #991b1b;
  --color-expense-900: #7f1d1d;
  --color-gray-750: #27303f;
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 23rem;
  --color-light-gradient: linear-gradient(135deg, var(--color-primary-50), var(--color-primary-500));
  --animate-move-down: move-down 0.5s ease-in-out;

  @keyframes move-down {
    0% {
      transform: translateY(-0.5rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 overflow-x-hidden;
  }

  button {
    @apply cursor-pointer;
  } 
}

@layer components {

  .btn-primary {
    @apply bg-primary-700 text-white font-medium px-4 py-2 rounded-lg hover:bg-primary-900 
           transition-colors disabled:opacity-50 disabled:cursor-not-allowed
           dark:bg-primary-800 dark:hover:bg-primary-900;
  }

  .btn-secondary {
    @apply bg-gray-300 text-gray-900 font-medium px-4 py-2 rounded-lg hover:bg-gray-500 hover:text-white
           transition-colors dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600;
  }
  
  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 
           focus:ring-primary-500 focus:border-transparent outline-none bg-slate-100
           dark:bg-gray-700 dark:border-gray-500 dark:text-gray-100
           dark:focus:ring-primary-100 placeholder:text-gray-500 placeholder:dark:text-gray-300;
  }
  
  .card {
    @apply bg-slate-50 rounded-xl shadow-sm p-2 xs:p-6 border border-gray-100
           dark:bg-gray-800 dark:border-gray-700 ;
  }
}
