services:
  - type: web
    runtime: static
    name: finance-tracker-client
    rootDir: client
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
  - type: web
    runtime: node
    name: finance-tracker-api
    rootDir: server
    buildCommand: npm install && npm run build
    startCommand: npm run start
